<h1>Edit Your Phrase Name</h1>
<%= render 'form', phrase: @phrase %>

<div>
<%= link_to 'Edit Moves', edit_moves_path(@phrase) %> |
<%= link_to 'Back to My Phrases', phrases_path %> |
<%= link_to 'Home', root_path %>
</div>

