<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    
    <body>
        <h1>Welcome to Choreo-Factory!</h1>
        <h2>A place where you can create your own choreography and keep track of your very own dance combinations</h2>
            <h3>
            <ul>
                <li>Develop some phrases</li>
                <li>Build some dances</li>
                <li>Be creative</li>
                <li>Have FUN!!!</li>
            </ul>
            </h3>
            <p>Visit <a href='phrases'>My Phrases</a> or <a href='/dances'>My Dances </a>to check on your work so far.</p>
            <p>Or you can click on <a href='phrases/new'>New Phrase </a> or <a href='/dances/new'>New Dance </a>to start a new project.</p><br>
            <p>Need some inspiration? Click <a href=https://www.abt.org/explore/learn/ballet-dictionary/>here</a> to get new ideas and learn about new dance moves</p>
    </body>
</html>