<!DOCTYPE HTML>
<html>
    <head>
        <link rel = "stylesheet" href = "/styles.css">
    </head>
    
    <body>
        <h1>Welcome to Choreo Factory</h1>
            <p>Visit <a href="/index">My Dances</a>to check on your work so far.</p>
            <p>or you can <a href="/new">Click Here</a>to start a new project.</p>
    </body>
</html>