<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    </head>
    
    <body>
        <div class="jumbotron jumbotron-fluid bg-dark text-white">
            <div class="container text-lg-center">
                <h1 class="display-1">Welcome to Choreo-Factory!</h1>
            </div>
        </div>
        
        <div class="bg-image">
            <img src="https://www.danceunlimitedfrederick.com/wp-content/uploads/2019/06/dance-may1.jpg" class="w-100" alt="Welcome" />
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class="d-flex justify-content-center align-items-center h-100">
                        <p class="text-white mb-0">A place where you can create your own choreography and keep track of your very own dance combinations.</p>
                </div>
            </div>
        </div>
                
            <!--<h2 class="display-2 text-center my-5">A place where you can create your own choreography and keep track of your very own dance combinations</h2>-->
        <div class="display-4 bg-dark text-white">
            <h3>
            <ul>
                <li>Develop some phrases</li>
                <li>Build some dances</li>
                <li>Be creative</li>
                <li>Have FUN!!!</li>
            </ul>
            </h3>
        </div>
        <div class="display-6 bg-dark text-white">
            <p>Visit <a href='phrases'>My Phrases</a> or <a href='/dances'> My Dances</a> to check on your work so far.</p>
            <p>Or you can click on <a href='phrases/new'>New Phrase </a> or <a href='/dances/new'>New Dance </a>to start a new project.</p><br>
            <p>Need some inspiration? Click <a href=https://www.abt.org/explore/learn/ballet-dictionary/>here</a> to get new ideas and learn about new dance moves</p>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>