<!DOCTYPE HTML>
<html>
    <head>
        <link rel = "stylesheet" href = "/styles.css">
    </head>
    
    <body>
        <h1>Welcome to Choreo-Factory!</h1>
        <h2>A place where you can create your own choreography or keep track of your very own dance combinations</h2>
            <ul>
                <li>Develop some phrases</li>
                <li>Build some dances</li>
                <li>Be creative</li>
                <li>Have FUN!!!</li>
            </ul>
            <p>Visit <a href='phrases'>My Phrases</a> or <a href='/dances'>My Dances </a>to check on your work so far.</p>
            <p>Or you can click <a href='phrases/new'>New Phrase </a> or <a href='/dances/new'>New Dance </a>to start a new project.</p>
    </body>
</html>