<h1>Edit Your Dance Title and Description</h1>
<%= render 'form', dance:@dance %> <br>
    <!--<div class="field">-->
    <!--    < %= f.label :description %>-->
    <!--    < %= f.text_field :description %>-->
    <!--</div>-->
<div>
<%= link_to 'Back to My Dances', dances_path %> |
<%= link_to 'Home', root_path %>
</div>