<h1>Edit Your Dance</h1>
<%= render 'form', dance:@dance %> <br>
    <!--<div class="field">-->
    <!--    < %= f.label :description %>-->
    <!--    < %= f.text_field :description %>-->
    <!--</div>-->
<%= link_to 'Back', dances_path %>
<%= link_to 'Home', root_path %>